.App-header {
  height: 10vh;
  padding: 1%;
}

.container {
  height: 90vh;
}

.add-button {
  position: fixed;
  left: 2.5%;
  bottom: 2.5%;
}

.add-button:hover{
  cursor: pointer;
}

.card:hover {
  cursor: pointer;
}
